doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css")
        link(rel="stylesheet", href="/js/alertifyjs/css/alertify.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com")
        link(rel="stylesheet", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,800;1,100;1,500;1,700&display=swap" )
        script(src="js/alertifyjs/alertify.js")
        title QR | Generator And Reader
    body
        div(class="d-flex justify-content-center align-items-center flex-column min-vh-100 bg-light py-4 py-md-0")
            block content

            footer(class="py-3 mt-2 bg-body-tertiary")
                div(class="d-flex justify-content-center")
                    a(href="https://github.com/JoseHV1" class="font-weight-bold text-secondary")
                        ion-icon(name="logo-github" target="blank")

                    a(href="https://wa.me/+584243698025?text=Hola,%20me%20interesa%20contactarte" class="mx-4 font-weight-bold text-secondary")
                        ion-icon(name="logo-whatsapp" target="blank")

                    a(href="https://www.linkedin.com/in/jose-hernandez01" class="font-weight-bold text-secondary")
                        ion-icon(name="logo-linkedin" target="blank")
                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js")
        script(src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js") 
        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")