extends layouts/header

block content
    div(class="m-5 px-2")
        h1(class="text-center mt-1 mb-4") Create QR
        form(action="generate/qr", method="post")
            div(class="input-group mb-3 px-5")
                input(type="url" name="url_text" class="form-control" placeholder="Enter a URL" required)
                button(class="btn btn-secondary" type="submit") Create

    if image_qr != ''
        div(class="my-3 px-4 d-flex justify-content-center")
            h1(class="text-center")
            img(id="img" src=`${image_qr}` alt="qr_generated" class="img-thumbnail" style="width: 17rem; height: 17rem;")

    p=`${errors}`

    //- if errors != undefined
        script alertify.success("as", 10)
        //- script alertify.success(`${errors}`, 25)
        //- script alertify.success(`${errors}` ,25)

