
.w-100 {
    width: 100% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.w-85 {
    width: 85% !important;
}

.w-75 {
    width: 75% !important;
}

.w-65 {
    width: 65% !important;
}

.w-60 {
    width: 60% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

@media (min-width: 553px) {
    .w-sm-100 {
        width: 100% !important;
    }
    .w-sm-90 {
        width: 90% !important;
    }
    .w-sm-95 {
        width: 95% !important;
    }
    .w-sm-85 {
        width: 85% !important;
    }
    .w-sm-75 {
        width: 75% !important;
    }
    .w-sm-65 {
        width: 65% !important;
    }
    .w-sm-60 {
        width: 60% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .w-sm-40 {
        width: 40% !important;
    }
}

@media (min-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }
    .w-md-90 {
        width: 90% !important;
    }
    .w-md-95 {
        width: 95% !important;
    }
    .w-md-85 {
        width: 85% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .w-md-65 {
        width: 65% !important;
    }
    .w-md-60 {
        width: 60% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-40 {
        width: 40% !important;
    }
    .md-shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .md-shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
}

@media (min-width: 1040px) {
    .w-lg-100 {
        width: 100% !important;
    }
    .w-lg-95 {
        width: 95% !important;
    }
    .w-lg-90 {
        width: 90% !important;
    }
    .w-lg-85 {
        width: 85% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-65 {
        width: 65% !important;
    }
    .w-lg-60 {
        width: 60% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-40 {
        width: 40% !important;
    }
}

ion-icon {
    font-size: 26px;
}

.bg-indigo-white{
    background-image: linear-gradient(to bottom, #aab1fd  50%, #aab1fd 50%);
}

@media (min-width: 768px) {
    .bg-md-indigo-white{
        background-image: linear-gradient(to right, #606dff  50%, white 50%); 
        height: 24rem;
    }
}
